<section class="mb-8 py-3 border-b-2">
  <div class="container">
    <div class="flex justify-between mx-4">
      <div></div>
      <app-button>
        Filtros
      </app-button>
    </div>
  </div>
</section>

<section class="container">
  <div class="mx-4">
    <div class="text-slate-500">Busqueda:</div>
    <div class="text-slate-700 text-2xl">Spa para gatos ciegos</div>
    <div class="text-slate-500">20 Resultados encontrados:</div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 mx-4 mt-4">
    <div>Item 1</div>
    <div>Item 2</div>
    <div>Item 3</div>
    <div>Item 4</div>
    <div>Item 5</div>
    <div>Item 6</div>
    <div>Item 7</div>
    <div>Item 8</div>
  </div>
</section>
