<section class="mb-8 py-3 border-b-2">
  <div class="container">
    <div class="flex justify-between mx-4">
      <div></div>
      <app-button> Filtros </app-button>
    </div>
  </div>
</section>

<section class="container my-8">
  <div class="mx-4 mb-4">
    <div class="text-slate-500">Búsqueda:</div>
    <div class="text-slate-700 text-2xl">{{ serviceSearchTerm }}</div>
    <div
      class="text-slate-500"
      *ngIf="!serviceListIsEmpty && !serviceListLoading">
      {{ serviceListCount }} Resultados encontrados:
    </div>
  </div>

  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 mx-4">
    <div *ngFor="let service of serviceList">
      <app-service-preview [service]="service"></app-service-preview>
    </div>
  </div>

  <div *ngIf="serviceListLoading" class="my-20 flex flex-col items-center">
    <div class="text-2xl text-slate-500">Buscando servicios...</div>
    <div class="text-xl text-slate-500">Por favor, espere.</div>
  </div>

  <div
    *ngIf="serviceListIsEmpty && !serviceListLoading"
    class="flex flex-col items-center my-20">
    <div class="text-2xl text-red-700">
      No se encontraron servicios para esta búsqueda.
    </div>
    <div class="text-xl text-slate-500">Intenta modificar los filtros.</div>
  </div>
</section>
