<div
  class="flex flex-col"
  (appClickOutside)="showOptions = false"
  (appEscapeKey)="showOptions = false">
  <label
    for="email"
    class="my-1 ms-6 text-sm font-medium text-gray-600 cursor-pointer"
    (click)="showMenuOptions()"
    *ngIf="label">
    {{ label }}
  </label>

  <div class="relative">
    <div class="h-[42px]"></div>
    <div
      class="border rounded-3xl focus:outline-none focus:border-orange-700 overflow-hidden absolute top-0 w-full bg-white"
      [class.z-10]="showOptions"
      [class.border-slate-300]="!showErrors"
      [class.border-red-500]="showErrors">
      <div
        (click)="showMenuOptions()"
        class="px-6 py-2 text-base cursor-pointer">
        <span *ngIf="value | async as list; else defaultText">
          <ng-container *ngIf="list.length; else defaultText">
            <ng-container *ngFor="let item of list; let i = index">
              {{ item.label }}<span *ngIf="i < list.length - 1">, </span>
            </ng-container>
          </ng-container>
        </span>

        <ng-template #defaultText>
          <div class="flex justify-between items-center">
            <span class="text-slate-400">Seleccione una opción</span>
            <app-svg-image
              path="assets/images/chevron-down.svg"
              [width]="18"
              [height]="18"></app-svg-image>
          </div>
        </ng-template>
      </div>

      <div [@optionAnimation]="showOptions ? 'show' : 'hide'">
        <div class="mb-2 mx-2 border-t-[1px] overflow-auto z-20 max-h-[200px]">
          <div
            class="px-3 py-2 text-base text-slate-700 rounded-md cursor-pointer"
            [class.bg-primary-50]="isSelected(option)"
            [class.hover:bg-slate-100]="!isSelected(option)"
            *ngFor="let option of options | async"
            (click)="selectOption(option)">
            {{ option.label }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-red-500 font-semibold ms-6" *ngIf="showErrors">
    <small *ngIf="errors['required']"> Este campo es requerido </small>
  </div>
</div>
