<div class="bg-slate-50">
  <div class="max-w-6xl m-auto py-8">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 mx-4">
      <div class="col-span-1">
        <h4 class="text-xl font-bold">Categorías</h4>
        <ul>
          <li><a href="#" class="hover:text-primary-500">Veterinaria</a></li>
          <li><a href="#" class="hover:text-primary-500">Cuidado</a></li>
          <li><a href="#" class="hover:text-primary-500">Paseo</a></li>
          <li><a href="#" class="hover:text-primary-500">Restaurant</a></li>
          <li>
            <a href="#" class="hover:text-primary-500">Aseo / Estética</a>
          </li>
        </ul>
      </div>
      <div class="col-span-1">
        <h4 class="text-xl font-bold">Sobre Nosotros</h4>
        <ul>
          <li>
            <a href="#" class="hover:text-primary-500">
              Políticas de privacidad
            </a>
          </li>
          <li>
            <a href="#" class="hover:text-primary-500">
              Condiciones de servicio
            </a>
          </li>
        </ul>
      </div>
      <div class="col-span-1">
        <h4 class="text-xl font-bold">Suscribete a nuestro newsletter</h4>
        <form action="" class="mt-4">
          <div class="flex flex-col">
            <label for="email" class="my-1 ms-6 text-sm font-medium text-gray-600">
              Correo electrónico
            </label>
      
            <input
              type="email"
              name="email"
              id="email"
              autocomplete="email"
              placeholder="ejemplo@dominio.com"
              class="px-3 py-2 text-base ps-6 rounded-3xl border-gray-400 border focus:outline-none focus:border-orange-700" />
            <p>
              <small class="hidden text-red-500"
                >Debe cumplir con un formato válido de correo electrónico</small
              >
            </p>
            <div class="max-w-[200px]">
              <app-button>Suscribirse</app-button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="bg-slate-200">
  <div class="max-w-6xl m-auto py-8">
    <div class="flex flex-col lg:flex-row items-center justify-center gap-4">
      <div class="text-2xl font-bold">
        <span class="text-primary-500">Pet </span><span>Care</span>
      </div>
      <div>© Derechos reservados</div>
    </div>
  </div>
</div>
