<header
  class="page-header relative h-[690px] md:h-[790px] lg:h-[490px] xl:h-[490px] 2xl:h-[790px]">
  <div
    class="banner h-[600px] md:h-[690px] lg:h-[400px] xl:h-[400px] 2xl:h-[600px]"></div>
  <div
    class="absolute z-[1] top-0 | h-[600px] md:h-[690px] lg:h-[400px] xl:h-[400px] 2xl:h-[600px] w-full | flex justify-center">
    <div class="max-w-6xl h-full mx-4 grid lg:grid-cols-2">
      <div class="flex flex-col justify-center items-center lg:items-start">
        <h1 class="text-white text-4xl mb-4">Bienvenido a Pet Care</h1>
        <p class="text-white text-2xl text-center lg:text-rigth">
          Somos la plataforma de servicios para mascotas lirderes en
          latinoamerica y España
        </p>
        <div class="h-[200px] lg:h-[0px]"></div>
      </div>
    </div>
  </div>
  <div class="w-full absolute bottom-0 flex justify-center lg:justify-end">
    <div class="w-full max-w-[400px] xl:max-w[400px] 2xl:max-w-[600px] h-auto">
      <img src="assets/images/mascotas-header.png" alt="" class="w-full" />
    </div>
  </div>
</header>

<section class="max-w-6xl m-auto mb-20">
  <div class="mx-4">
    <h2 class="text-3xl text-slate-700 mb-10 font-bold">
      Buscar por categoria
    </h2>
    <div class="overflow-auto relative">
      <div
        class="flex flex-nowrap gap-4"
        style="justify-content: space-between">
        <div class="w-[200px] flex-none">
          <div
            class="p-8 bg-slate-100 flex flex-col items-center rounded-[16px]">
            <app-svg-image
              path="assets/images/veterinaria.svg"
              [width]="100"
              [height]="100"></app-svg-image>
            <div class="font-bold uppercase text-slate-700 mt-4">
              veterinaria
            </div>
            <div class="text-slate-500">120 servicios</div>
          </div>
        </div>
        <div class="w-[200px] flex-none">
          <div
            class="p-8 bg-slate-100 flex flex-col items-center rounded-[16px]">
            <app-svg-image
              path="assets/images/cuidado.svg"
              [width]="100"
              [height]="100"></app-svg-image>
            <div class="font-bold uppercase text-slate-700 mt-4">cuidado</div>
            <div class="text-slate-500">120 servicios</div>
          </div>
        </div>
        <div class="w-[200px] flex-none">
          <div
            class="p-8 bg-slate-100 flex flex-col items-center rounded-[16px]">
            <app-svg-image
              path="assets/images/paseo.svg"
              [width]="100"
              [height]="100"></app-svg-image>
            <div class="font-bold uppercase text-slate-700 mt-4">paseo</div>
            <div class="text-slate-500">120 servicios</div>
          </div>
        </div>
        <div class="w-[200px] flex-none">
          <div
            class="p-8 bg-slate-100 flex flex-col items-center rounded-[16px]">
            <app-svg-image
              path="assets/images/restaurant.svg"
              [width]="100"
              [height]="100"></app-svg-image>
            <div class="font-bold uppercase text-slate-700 mt-4">
              restaurante
            </div>
            <div class="text-slate-500">120 servicios</div>
          </div>
        </div>
        <div class="w-[200px] flex-none">
          <div
            class="p-8 bg-slate-100 flex flex-col items-center rounded-[16px]">
            <app-svg-image
              path="assets/images/aseo.svg"
              [width]="100"
              [height]="100"></app-svg-image>
            <div class="font-bold uppercase text-slate-700 mt-4">aseo</div>
            <div class="text-slate-500">120 servicios</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="bg-slate-100 py-20">
  <section class="max-w-6xl m-auto mb-20">
    <div class="mx-4">
      <h2 class="text-3xl text-slate-700 mb-10 font-bold">
        Servicios más vendidos
      </h2>
      <div class="overflow-auto relative py-4">
        <div
          class="flex flex-nowrap gap-4"
          style="justify-content: space-between">
          <div class="w-[330px] flex-none">
            <div class="mb-2">
              <img
                src="assets/images/service-preview.png"
                alt=""
                class="w-full" />
            </div>
            <div class="text-slate-700 font-bold">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            </div>
            <div class="flex mt-2 gap-2 items-cente">
              <app-ratings-star
                class="flex items-center"
                [rating]="4.5"></app-ratings-star>
              <span class="text-slate-400">(120 comentarios)</span>
            </div>
          </div>

          <div class="w-[330px] flex-none">
            <div class="mb-2">
              <img
                src="assets/images/service-preview.png"
                alt=""
                class="w-full" />
            </div>
            <div class="text-slate-700 font-bold">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            </div>
            <div class="flex mt-2 gap-2 items-cente">
              <app-ratings-star
                class="flex items-center"
                [rating]="4.5"></app-ratings-star>
              <span class="text-slate-400">(120 comentarios)</span>
            </div>
          </div>

          <div class="w-[330px] flex-none">
            <div class="mb-2">
              <img
                src="assets/images/service-preview.png"
                alt=""
                class="w-full" />
            </div>
            <div class="text-slate-700 font-bold">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            </div>
            <div class="flex mt-2 gap-2 items-cente">
              <app-ratings-star
                class="flex items-center"
                [rating]="4.5"></app-ratings-star>
              <span class="text-slate-400">(120 comentarios)</span>
            </div>
          </div>

          <div class="w-[330px] flex-none">
            <div class="mb-2">
              <img
                src="assets/images/service-preview.png"
                alt=""
                class="w-full" />
            </div>
            <div class="text-slate-700 font-bold">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            </div>
            <div class="flex mt-2 gap-2 items-cente">
              <app-ratings-star
                class="flex items-center"
                [rating]="4.5"></app-ratings-star>
              <span class="text-slate-400">(120 comentarios)</span>
            </div>
          </div>

          <div class="w-[330px] flex-none">
            <div class="mb-2">
              <img
                src="assets/images/service-preview.png"
                alt=""
                class="w-full" />
            </div>
            <div class="text-slate-700 font-bold">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            </div>
            <div class="flex mt-2 gap-2 items-cente">
              <app-ratings-star
                class="flex items-center"
                [rating]="4.5"></app-ratings-star>
              <span class="text-slate-400">(120 comentarios)</span>
            </div>
          </div>

          <div class="w-[330px] flex-none">
            <div class="mb-2">
              <img
                src="assets/images/service-preview.png"
                alt=""
                class="w-full" />
            </div>
            <div class="text-slate-700 font-bold">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            </div>
            <div class="flex mt-2 gap-2 items-cente">
              <app-ratings-star
                class="flex items-center"
                [rating]="4.5"></app-ratings-star>
              <span class="text-slate-400">(120 comentarios)</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="bg-primary-50 py-20">
  <section class="max-w-6xl m-auto">
    <div class="mx-4">
      <h2 class="text-3xl text-slate-700 mb-10 font-bold">
        ¿Lo mejor de todo?
      </h2>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
        <div class="flex flex-col gap-8 row-span-1 row-start-2 lg:row-span-1">
          <div class="flex">
            <div class="mr-4 pt-4">
              <app-svg-image
                path="assets/images/check-circle.svg"
                [width]="24"
                [height]="24">
                ></app-svg-image
              >
            </div>
            <div>
              <h3 class="text-slate-700 text-2xl">Apéguese a su presupuesto</h3>
              <p class="text-slate-500 text-xl">
                Encuentre el servicio adecuado para sus necesidades. Escoja
                entre la variedad de los servicios propuestos por nuestros
                profesionales.
              </p>
            </div>
          </div>

          <div class="flex">
            <div class="mr-4 pt-4">
              <app-svg-image
                path="assets/images/check-circle.svg"
                [width]="24"
                [height]="24">
                ></app-svg-image
              >
            </div>
            <div>
              <h3 class="text-slate-700 text-2xl">Pague cuando esté comodo</h3>
              <p class="text-slate-500 text-xl">
                Entre tantas propuestas ofrecidas por nuestros profesionales,
                usted podrá aceptar y pagar con cual usted se sienta en su
                comodidad.
              </p>
            </div>
          </div>

          <div class="flex">
            <div class="mr-4 pt-4">
              <app-svg-image
                path="assets/images/check-circle.svg"
                [width]="24"
                [height]="24">
                ></app-svg-image
              >
            </div>
            <div>
              <h3 class="text-slate-700 text-2xl">Soporte 24/7</h3>
              <p class="text-slate-500 text-xl">
                Nuestro equipo de soporte permanente está disponible para
                ayudarlo en cualquier momento y en cualquier lugar.
              </p>
            </div>
          </div>
        </div>
        <div class="flex justify-center row-span-1 row-end-0 lg:row-span-2">
          <div class="overflow-hidden rounded-[16px] max-w-[600px]">
            <img src="assets/images/adorable-3344.png" alt="" class="w-full" />
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="py-20">
  <section class="max-w-6xl m-auto">
    <div class="mx-4">
      <h2 class="text-3xl text-slate-700 mb-10 font-bold">Testimonios</h2>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 justify-center">
        <div class="flex flex-col items-center gap-2 max-w=[400px]">
          <div class="overflow-hidden rounded-[50%] w-[158px] gap-4">
            <img src="assets/images/avatar1.png" alt="" class="w-full" />
          </div>
          <div class="text-xl text-primary-500 font-bold">Miley Cyrus</div>
          <div class="text-slate-500 text-center">
            Contrate un servicio de SPA para mi mascota un par de veces y he
            notado que mi mascota esta mas feiz, se nota en su forma de caminar
            y la forma en como mueve su colita. Gracias Pet Care.
          </div>
        </div>
        <div class="flex flex-col items-center gap-2 max-w=[400px]">
          <div class="overflow-hidden rounded-[50%] w-[158px] gap-4">
            <img src="assets/images/avatar2.png" alt="" class="w-full" />
          </div>
          <div class="text-xl text-primary-500 font-bold">Madonna</div>
          <div class="text-slate-500 text-center">
            Mi gato se enfermó y pague un monton de veterinarios que no daban
            solución a mi minino. Con la variedad de profesionales en Pet Care
            me ahorre mucho dinero en vanas consultas y mi gano sanó.
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>
